* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #555;
}

html,
body {
  font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
  font-size: 14px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 0 2%;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 0.8rem;
  color: hsla(0,0%,100%,.6);
  padding: 0.5rem 0.5rem;
}

nav ul li a:hover {
  color: #fff;
}

nav ul .right-links {
  margin-left: auto;
}

.message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding: 0 2%;
}

.message p {
  padding: 0 0.6rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: Shentox,sans-serif;
  font-weight: 500;
  color:#aaa;
  letter-spacing: .04em;
  line-height: 1;
  cursor: pointer;
}

.message p:hover {
  color: #000;
}

.search img {
  height: 17px;
  max-width: 100%;
  color: #555;
}

.search img:hover {
  color: gray;
}

.search {
  cursor: pointer;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  border-left: 1px solid #c6c6c6;
}

.nav-message {
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 2%;
  box-shadow: 0 16px 48px rgba(0,0,0,.15);
  background: #fd3;
}

.nav-message p {
  line-height: 30px;
  font-size: 12px;
  color: #000;
}

