* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  color: #555;
  font-family: ARS Maquette,Helvetica
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ul li::before {
  content: "\2022";
  color: red;
  margin-right: 5px;
} */

/* body {
  padding-top: calc(48px + 30px);
} */

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}

.nav-logo {
  background-color: #f42;
  background-image: linear-gradient(to bottom right, #c09, #f42 85%);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
}

.nav-logo img {
  height: 1rem;
}

.sticky-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 10;
}

.sticky-bar .top-nav {
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.top-nav .search-menu {
  display: flex;
}

.top-nav .search-wrapper {
  border-left: 1px solid #ded7d7;
  border-right: 1px solid #ded7d7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-wrapper .icon {
  transform: rotateY(180deg);
}

.top-nav .action {
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-nav .icon {
  height: 1.25rem;
}

.info-bar {
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.15);
  height: 30px;
  line-height: 30px;
  background: #fd3;
  font-size: 10px;
  color: #000;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 6px;
  display: block;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-sector a {
  padding: 0 0.5rem;
  text-transform: uppercase;
}

.banner {
  width: 100%;
  display: block;
  display: flex;
  margin-top: 78px;
}

.left-banner {
  width: 66%;
  background: url(assests/images/social-media.jpg) repeat;
  background: linear-gradient(rgb(69, 190, 75), rgb(221, 7, 7));
  height: 300px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid white;
}

.banner-inner {
  width: 34%;
  height: 300px;
  display: grid;
  margin-right: 5px;
}

.right-upper-banner {
  background: url(assests/images/tech.jpg);
  width: 100%;
  height: 150px;
  background: linear-gradient(black, rgb(104, 47, 47));
  border: 2px solid white;
  border-bottom: 7px solid white;
}

.right-bottom-banner {
  background: url(assests/images/tech.jpg);
  width: 100%;
  height: 150px;
  background: linear-gradient(rgb(236, 15, 15), rgb(117, 68, 173));
  border: 2px solid white;
}

.date {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
}

.date span {
  color: white;
  font-size: 15px;
}

.logo {
  margin-top: 10px;
  margin-left: 15px;
}

.banner-heading h1 {
  color: white;
  font-size: 42px;
  font-weight: 800;
  margin-left: 15px;
}

.time {
 margin-left: 5px;
}

.author p {
  color: white;
  display: inline-block;
  margin-left: 15px;
  margin-top:15px;
}

.banner-headings h1 {
  color: white;
  font-size: 25px;
  font-weight: 800;
  margin-left: 15px;
  margin-top: 15px;
}

.wrapper {
  max-width: 1192px;
  margin: 0 auto;
  margin-top: 5rem;
}

.articles-inr {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.coloumns {
  width: 25%;
  display: block;
}

.coloumns img {
  width: 270px;
  height: 135px;
}

.wrapper h2 a {
  color: #f42;
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 800;
}

.coloumns h1{
  font-size: 18px;
  color: black;
  margin-top: 6px;
}

.p-author{
  float: left;
  margin-right: 19px;
}

.coloumns p{
  margin-top: 10px;
}

.apple h2 {
  color: #f42;
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 800;
  margin-top: 5rem;
}

.latest {
  margin: 50px auto;
  display: flex;
  padding: 0 6%;
  justify-content: space-between;
}

.left-title h2 a {
  color: #f42;
  text-decoration: none;
}

.right-title p a {
  color: red;
  padding: 0 1rem;
}

.right-title {
  display: flex;
}
.box {
  background-color: #fffaf8;
  width: 25%;
  height: auto;
}

.boxes {
  width: 100%;
  display: flex;
}

.box p a {
  color: black;
  padding: 5px;
}

.box hr {
  background-color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.box p span {
  font-size: 12px;
  line-height: 1.5;
  padding-bottom: 20px;
}

.section-header-title-title a:hover, .latest-funding-header .list li a:hover, .latest-funding .story .investment-card a:hover {
  color: #000;
}

.column-wrapper-title a:hover {
  box-shadow: inset 0 -1px 0 hsla(0,0%,100%,.3);
}

.image-1 {
  background-image: url(assests/images/tech.jpg);
}

.image-2 {
  background-image: url(assests/images/tech.jpg);
}

.image-3 {
  background-image: url(assests/images/tech.jpg);
}

.image-4 {
  background-image: url(assests/images/tech.jpg);
}

.image-5 {
  background-image: url(assests/images/tech.jpg);
}

.image-6 {
  background-image: url(assests/images/tech.jpg);
}

.image-7 {
  background-image: url(assests/images/tech.jpg);
}

.image-8 {
  background-image: url(assests/images/tech.jpg);
}

h2.header-title {
  margin-bottom: 14px;
  margin-top: 14px;
  padding: 4px;
  color: #f42;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
}

h2.header-title:hover {
  color: #000;
  transition: ease-in-out .2s;
}

.sections {
  margin-bottom: 40px;
}

.pages {
  padding: 10px;
  margin-top: 100px;
}

.column-wrapper {
  position: relative;
  padding-top: 75%;
  height: 0;
  width: 100%;
}

.image-wrapper-1 {
  background-image: url(assests/images/tech.jpg);
}

.image-wrapper-2 {
  background-image: url(assests/images/tech.jpg);
}

.image-wrapper-3 {
  background-image: url(assests/images/tech.jpg);
}

.image-wrapper-4 {
  background-image: url(assests/images/tech.jpg);
}

.image-wrapper-5 {
  background-image: url(assests/images/tech.jpg);
}

.image-wrapper-6 {
  background-image: url(assests/images/tech.jpg);
}

.image-wrapper-7 {
  background-image: url(assests/images/tech.jpg);
}

.image-wrapper-8 {
  background-image: url(assests/images/tech.jpg);
}

.column-wrapper-image {
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.column-wrapper-header {
  color: white;
  padding: 14px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.column-wrapper-section {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
  margin-bottom: 10px;
  color: white;
}

.column-wrapper-title {
  font-size: 20px;
  margin-bottom: 6px;
  font-weight: 700;
  line-height: 1.1;
}

.column-wrapper-list {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.column-wrapper-list li {
  display: inline-block;
}

.column-wrapper-list-item-author:after {
  content: "";
  display: inline-block;
  margin: 0 4px;
}

.section-latest {
  background-color: rgba(255, 68, 34, 0.06);
  display: flex;
  margin: 2px 0;
}

.section-latest-header {
  flex: 1;
  overflow: hidden;
  padding: 10px 14px 0;
}

.section-latest-section {
  color: #f42;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
  margin-bottom: 5px;
}

.section-latest-title {
  font-size: 14px;
  max-height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: #f42;
  font-weight: 700;
  line-height: 1.25;
}

.image-1 {
  background-image: url(assests/images/custom-ink.jpg);
}

.image-2 {
  background-image: url(assests/images/custom-ink.jpg);
}

.image-3 {
  background-image: url(assests/images/custom-ink.jpg);
}

.image-4 {
  background-image: url(assests/images/custom-ink.jpg);
}

.image-5 {
  background-image: url(assests/images/custom-ink.jpg);
}

.image-6 {
  background-image: url(assests/images/custom-ink.jpg);
}

.image-7 {
  background-image: url(assests/images/custom-ink.jpg);
}

.image-8 {
  background-image: url(assests/images/);
}

.section-latest-image {
  flex: 0 0 96px;
  background-position: 50%;
  background-size: cover;
  opacity: 1;
  height: 96px;
  width: 96px;
}

.section-header-title {
  border-bottom: 1px solid #eee;
}

.section-header-title-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.section-header-title-title a {
  color: #555;
  display: block;
  padding: 6px 0 6px 14px;
  position: relative;
}

.section-header-title-title a::before {
  background-color: #f42;
  border-radius: 50%;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 4px;
}

.sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pages {
  box-sizing: border-box;
  flex-basis: 33.3%;
}

.deals-header {
  display: flex;
  justify-content: space-between;
  margin: 0 170px;
}

.deals-header h2 {
  line-height: 32px;
  font-size: 28px;
  font-weight: 700;
  color: #f42;
}

.deals-header h2:hover {
  color: #000;
}

.see-all {
  font-size: 10px;
  line-height: 18px;
}

.img-thumbnail {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1;
  grid-gap: 2px;
  margin: 30px 100px;
}

.img-thumbnail img {
  max-width: 100%;
  width: 300x;
  height: 200px;
}

.img-thumbnail h4 {
  color: #000;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 5px;
}

.img-thumbnail h4:hover {
  color: #f42;
  transition: ease-in-out .2s;
}

.story-dealPrice {
  color: #aaa;
  font-size: 12px;
  line-height: 18px;
  padding-top: 4px;
  vertical-align: baseline;
  margin-bottom: 30px;
}

.story-dealPrice-new {
  font-size: 13px;
  margin-right: 4px;
}

.story-dealPrice-old {
  text-decoration: line-through;
  font-size: 13px;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.footer-links {
  background: #131313;
  height: 150px;
  padding: 3em 0 2em;
}
.footer-social-links li {
  float: left;
  font-size: 20px;
  background: #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  margin: 0 10px;
}

.footer-social-links li a i {
  color: #fff;
  padding-top: 11px;
}

.footer-social-links li:hover{
  background: transparent;
  box-shadow: inset 0 0 0 2px #333;
}

.footer-wrapper {
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
  display: inline-block;
}

.footer-social-links {
  margin-bottom: 6.5rem;
}

.footer-us-links li {
  display: inline;
  margin: 0 6px;
  font-size: 17px;
}

.footer-us-links li a {
  color: #aaa;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.footer-us-links{
  margin-left: 10px;
}
.footer-legel{
  background: #000;
  height: 100px;
}

.footer-content P{
  color: #aaa;
  font-size: 16px;
  text-align: center;
}

.tnw {
  color: #fff;
}

.footer-content {
  margin-top: 2rem;
}

.heart {
  color: #f42;
  font-size: 20px;
}

@media only screen and (max-width: 320px) {
  .nav-sector {
    display: none;
  }

  .fixed-bar {
    width: 100%;
  }

  .search-menu {
    display: flex;

  }
}

